@charset "utf-8";

header{
    max-width: 100%;
    margin: 0 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    padding: 28px 0 0;  
}
header h1 > a{
    display: block;
    width: 100px; height: 50px;
    background: url(../img/imgi_24_logo.png) no-repeat center/contain;
}
header .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px; 
}
header .gnb > ul{
    display: flex;
    justify-content: space-between;
}
header .gnb > ul > li > a{
    display: block;
    position: relative;
    padding: 36px 30px 0 ;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    transition: all 0.3s 0.1s; /* 트랜지속성/ 변형시간/ 지연시간 */
}
header .gnb > ul > li > a::before{
    content: '';
    position: absolute;
    height: 0;
    left: 0; right: 0; top: 0;
    background: linear-gradient( lightpink, rgb(109, 109, 6));
    transition: all 0.3s;
    z-index: -1;
}
header .gnb > ul > li:hover > a::before{
    height: 100%; 
}
header .gnb > ul > li:hover > a{
    color: brown;
    /* font-size: 20px; */
}
/* 2depth */
header .gnb ul ul{
    position: absolute;
    padding: 21px 0;
    min-width: 126px;
/*     background:rgb(78, 78, 59); */
    /* display: none; */
}
header .gnb ul ul a{
    display: block;
    padding: 0 18px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 28px;
    transition: all 0.3s;
}
header .gnb > ul ul li > a::before{
    content: '';
    position: absolute;
    height: 0;
    left: 0; right: 0; top: 0;
    background:#000;
    transition: all 0.3s;
    z-index: -1;
}
header .gnb > ul ul > li:hover > a::before{
    height: 100%; 
}
header .gnb > ul ul > li:hover > a{
    color: brown;
    /* font-size: 20px; */
}
header .gnb ul ul a:focus,
header .gnb ul ul a:hover{
    font-size: 17px;
}

/* util */
header .util{
    padding: 36px 0 0 ;
    font-size: 0;
}
header .util a,
header .util button{
    display: inline-block;
    position: relative;
    padding: 0 22px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
}