@charset "utf-8";

small {
  font-size: 36px;
}
h2.fill {
  font-size: 100px;
  margin-bottom: 50px;
  color: rgba(33, 30, 31, 0);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  background-image: linear-gradient(
    to left,
    rgba(33, 30, 31, 0) 70%,
    rgba(33, 30, 31, 1) 20%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: textFill 0.6s ease-in-out 0.8s forwards;
  will-change: background-size;
}
@keyframes textFill {
  to {
    background-size: 100% 100%;
  }
}

section,
article {
  margin: 100px 200px;
}

h3 {
  position: relative;
  font-size: 24px;
  margin-bottom: 50px;
}
h3 span {
  font-size: 38px;
  padding-right: 15px;
}
h3::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 85%;
  height: 2px;
  background-color: #000;
}
img {
  max-width: 100%;
}
#upcoming h3::after {
  width: 82%;
}
#postiong h3::after {
  width: 80%;
}
/* onview */

#onview .innerBox {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  gap: 50px;
}
#onview .innerBox .textBox {
  padding: 100px 50px;
  box-sizing: border-box;
}
.textBox h4 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 30px;
}
.textBox > span {
  display: block;
  font-size: 22px;
  font-family: "Bebas Neue", sans-serif;
  color: #c9ab81;
  margin-bottom: 20px;
}
.tminfo {
  font-size: 18px;
  line-height: 1.6;
  color: #666;
  display: -webkit-box; /* flex/블록 말고 이걸로! */
  -webkit-line-clamp: 6; /* ← 보여줄 줄 수 */
  -webkit-box-orient: vertical;
  overflow: hidden; /* 넘친 부분 숨기기 */
  line-clamp: 6; /* 신형 표준(지원 브라우저용, 무해) */
  /* 한글 줄바꿈/단어 쪼개짐 보정 옵션(선택) */
  word-break: keep-all; /* 단어 단위 줄바꿈(한글 가독) */
  overflow-wrap: anywhere;
  margin-bottom: 50px;
}

/* past */

#past .innerBox ul,
#upcoming .innerBox ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

#past .innerBox ul li,
#upcoming .innerBox ul li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.desc .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: keep-all; /* 단어 단위 줄바꿈(한글 가독) */
  overflow-wrap: anywhere;
  -webkit-line-clamp: 1; /* ← 보여줄 줄 수 */
  overflow: hidden; /* 넘친 부분 숨기기 */
}
.desc .date {
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  color: #c9ab81;
}
