@charset "utf-8";

/* 공통요소 */
.innerBox h3 {
    font-size: 55px;
    font-weight: 700;
    margin: 0 0 50px 100px;
}

.innerBox h3 span {
    color: #005b48;
}

.innerBox>p {
    font-size: 28px;
    color: #585858;
    margin: 0 0 50px 100px;
}

.innerBox .btn {
    margin: 0 0 50px 100px;
    display: flex;
    gap: 20px;
}

.innerBox button {
    padding: 20px 35px;
    font-size: 20px;
    font-weight: 500;
    color: #005b48;
    border: 1px solid #005b48;
    background: #fff;
}

section+section {
    width: 1440px;
    margin: auto;
}

#wrap {
    width: 100%;
    height: 100vh;
    margin: auto;
}

/* 헤더 영역 */
header {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 70px;

}

.left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;

}

.left .donation {
    width: 100%;
    height: 400px;

}

.left .donation>a {
    display: inline-block;
    width: 100px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;

}

.left .donation .sub {

    width: 70%;
    margin: 0 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.left .donation .sub>li {

    align-items: center;
}

.left .donation .sub>li>a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;

}

header .left .logo {
    background: url(img/imgi_48_logo_v2.png) no-repeat center/contain;
    width: 100px;
    height: 44px;
    margin: 15px 0 0 20px;
}

/* 메인 비주얼 영역 */
.mainVisual {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
}

.mainVisual .text {
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: left;
}

.mainVisual .text p {
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.mainVisual .text span {
    font-size: 24px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    height: 100%;
    object-fit: cover;
}

/* .mainVisual .swiper-pagination{
            background-color:rgba(0, 147, 101, 0.5);
            border-radius: 30px;
            position: absolute;
            bottom: 20%; left: 50%;
            transform: translateX(-50%);
            width: 200px; height: 44px;
            line-height: 44px;
        }  */

/* 1) 전체 페이징 컨테이너 위치/크기/투명도 조절 */
.mainVisual .swiper-pagination {
    margin-left: 860px;
    margin-bottom: 30px;
    width: 200px;
    height: 44px;
    border-radius: 25px;
    background: rgba(0, 147, 101, 0.8);
    line-height: 44px;
}

.mainVisual .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    border: 2px solid #fff;
    background: rgba(0, 147, 101, 0.8);
    /* 기본 회색 불릿 */
    border-radius: 50%;
    /* 원형으로 */
    transition: all 0.3s;
}

.mainVisual .swiper-pagination-bullet-active {
    width: 30px;
    height: 6px;
    background: #ffffff;
    border-radius: 25px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

/* 4) 페이징 숫자 표시(fraction) 쓰는 경우 */
.mainVisual .swiper-pagination-fraction {
    font-size: 14px;
    color: #333;
}

.mainVisual .swiper-pagination-fraction .swiper-pagination-current {
    font-weight: bold;
}

.mainVisual .swiper-pagination-fraction .swiper-pagination-total {
    opacity: 0.6;
}

.mainVisual .swiper-button-next,
.mainVisual .swiper-button-prev {
    color: #FFF;
    text-shadow: 0 0 5PX rgba(0, 0, 0, 0.5);

}

/* 후원바 영역 */
#donationVar {
     position: absolute;
    bottom: -25.5%;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 1440px;
    height: 110px;
    z-index: 25;
}

#donationVar ul {
    display: flex;
    gap: 50px;
}

#donationVar ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 110px;
    color: #fff;
    gap: 10px;
}

#donationVar ul li img {
    width: 45px;
}

#donationVar ul li:first-child {
    position: relative;
    font-size: 32px;
    font-weight: 600;
}

#donationVar ul li:first-child span {
    padding: 0 20px;
    box-sizing: border-box;
}

#donationVar ul li:first-child::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -800px;
    transform: translateY(-50%);
    width: 1000px;
    height: 120px;
    background: #005b48;
    border-radius: 0 15px 15px 0;
    z-index: -1;
}


/* 카드뉴스 영역 */
#cardNewsArea {
    margin-bottom: 200px;
}

#cardNewsArea .innerBox {
    width: 100%;
    position: relative;
}

#cardNewsArea .innerBox::before {
    content: '';
    display: block;
    background-color: #c7c7c7;
    background: url(../img/bg_main_section.jpg) repeat;
    width: 88%;
    height: 250px;
    position: absolute;
    top: 308px;
    left: 0;
}

#cardNewsArea .innerBox .swiper-inner {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

#cardNewsArea .innerBox .swiper-slide a {
    position: relative;
    width: 100%;
    height: 100%;
}

#cardNewsArea .innerBox .swiper-slide1 a span {
    width: 100%;
    height: 65px;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 30;
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

/* 초록우산 통계 */
#statsArea {
    position: relative;
    margin-bottom: 200px;
}

#statsArea::before {
    content: '';
    background: url(../img/bg_main_section.jpg) repeat;
    background-color: rgba(0, 91, 72, 0.2);
    display: block;
    width: 120%;
    height: 450px;
    position: absolute;
    top: 40%;
    left: -20%;
    z-index: -1;
}

#statsArea .logos {
    margin-bottom: 20px;
}

#statsArea .logos ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    text-align: center;

}

#statsArea .logos ul li {
    width: 130px;
    height: 170px;
}

#statsArea .logos ul li .image {
    width: 100%;
    height: 70%;
}

#statsArea .logos ul li img {
    display: inline-block;
}

#statsArea .totalState {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 200px;
}

#statsArea .totalState div>p:first-child {
    font-size: 36px;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}

#statsArea .totalState div>p:first-child span {
    font-size: 80px;
    font-weight: 400;
}

/* 캠페인 영역 */